/****************************初始化部分************************************/
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 0;
}
body {
  font-family: 微软雅黑,楷体,宋体,serif;
  background: url(../background.jpg);
  display: flex;
}
div {
  /*位置设置*/
  margin: auto;
  text-align: center;
  /*内部元素设置*/
  display: flex;
  flex-direction: column;
}
p,
a {
  /*颜色设置*/
  color: white;
}
